AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /blog/

# All non-file, non-directory requests go to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

</IfModule>